/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 70px;
}






/* Style the header */
.header {
  padding: 200px;
  text-align: center;
  color: white;
  font-size: 25px;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  color: black
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 60px;
  color: white;
}

/* Changes text color of bolded item in header */
.header b {
  color: #06A77D;
}






/* Style the navbar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: center;
}

/* Style the navbar anchor */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 28px 80px;
  text-decoration: none;
}

/* Change color on hover on navbar anchors */
.navbar a:hover {
  background-color: #06A77D;

}






/* Style the main section */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* Main */
.main {
  -ms-flex: 70%;
  flex: 70%;
  color: white;
  padding: 0px;
}

/* Style the h2 tags in main, these are typically the Headers of the sections */
.main h2 {
  padding: 20px;
  font-size: 30px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Styles the List, DT is the first  */
dl dt {
  color: #06A77D;
  font-size: 25px;
  font-weight: bold;
  text-indent: 20px;
}

/* Styles the List, DD is the second */
dl dd {
  color: black;
  font-size: 20px;
}

/* The slants are the different sections, should look into just making 2 slants and alternate them */
.slant1 {
  padding: 10px;
  background: linear-gradient(to bottom, #333, #7D83FF);
  border-bottom: 1px outset;
}

.slant2 {
  padding: 10px;
  background: linear-gradient(to bottom, #7D83FF, #333);
  border-bottom: 1px outset;
}

.slant3 {
  padding: 10px;
  background: linear-gradient(to bottom, #333, #7D83FF);
  border-bottom: 1px outset;
}





/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}





/* Style the different sized layouts */
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}