/* All */
 /* * {
  box-sizing: border-box;
  outline: dotted;
  outline-color: red;
}   */


* {
  box-sizing: border-box;
  scroll-padding-top: 70px;
}

/* Style the body */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 120px;
  text-align: center;
  color: white;
  font-size: 25px;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  color:black
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 60px;
  color: white;
}

.header h2 {
  font-size: 40px;
  color: #D3D3D3;
}

.header b {
  color: #D3D3D3;
}


dl dt {
  color:white;
  font-size:25px;
}

 dl dd {
  color:black;
  font-size:20px;
} 

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  
}



/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 28px 80px;
  text-decoration: none;
}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #06A77D;
  
}

/* Active/current link */



/* Column container */
.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */



/* Main column */
.main {
  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  color: white;
  padding: 0px;
  

}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}



.slant1 {
  padding: 10px;
  background: linear-gradient(to bottom, #333, #7D83FF);
  border-bottom: 1px outset;
  
}

.slant2 {
  padding: 10px;
  background: linear-gradient(to bottom, #7D83FF, #333);
  border-bottom: 1px outset;
}

.slant3 {
  padding: 10px;
  background: linear-gradient(to bottom, #333, #7D83FF);
  border-bottom: 1px outset;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}